body {
            font-family: sans-serif;
            text-align: left;
            background-color: skyblue;
            padding-top: 5px;
        }
h1 {
 font-size: 200%; 
 color: navy; 
 text-align: center;
 background: #b4d198;  /* vert */
 }
/*h2 {
 font-size: 150%; 
 color: red; 
 padding-left: 15px;
 }
a:link {
 color: green;
 text-decoration: underline;
 }
a:visited {
 color: gray;
 }
a:hover {
 color: red;
 text-decoration: none;
}
a:active, a:focus {
 color: red;
}



div {
	background: #ccc; 
	padding: 10px;
	margin-bottom: 20px;
	text-align: center;
}



span, a {
	background: #ea6645; /* orange */
/*}


/*ul {
	border: 5px solid red;
	background: pink;
	
}
*/

/* img {
            
            max-width: 500px;
            border-radius: 10px;
            box-shadow: 0 0 15px rgba(0,0,0,0.2);
            animation: fadeIn 1.5s ease-in-out;
        }
 @keyframes fadeIn {
            from { opacity: 0; transform: scale(0.95); }
            to { opacity: 1; transform: scale(1); }
        } */
 
table {
            width: 50%;
            border-collapse: collapse;
            margin: 20px auto;
            background-color: aquamarine;
        }
th, td {
            border: 1px solid #000;
            padding: 8px;
            text-align: center;
        }
th {
            background-color: #f2f2f2;
        }
/*.ent {
    color:gold;
}
.pla {
    color: blueviolet;
}
.des{
    color:chocolate;
}
.c1{
    background-color: green;
}
*/